body {
	font-family: 'Roboto Slab', serif;
	-webkit-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.container {
}

#top {
	height:150px;
}

nav {
	background-color: #100174;
	display: inline;
	height: auto; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	-webkit-transition: 0.5s;
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	margin-top: 20px;
	border-radius: 0px 15px 15px 0px;

}

a {
	text-decoration: none;
}

nav a {
	padding-top: 10px;
	color:white;
	display: block;
}

.navItems a:hover {
	text-decoration: underline;
}


nav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 20px;
	margin-left: 50px;
	font-family: helvetica, sans-serif;
}

.hamburger {
	margin-left: 15px;
	position: fixed;
	top:15px;
	font-size:40px;
	cursor:pointer;
}

.jumbotron {
	height:800px;
}

.flex-container-centered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 500px;
}

.button {
	height: 45px;
	width: 120px;
	border: 2px solid black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 5px;
	margin-top: 10px;
}

.button-1 {
	margin-right: 10%;
	color: black;
}



.button-2 {
	background-color: #e71313;
	color: #f9f9f9;;
}

.color-dark-teal {
	background-color: #11455c;
}

.color-blue {
	background-color: #234674;
}

.color-teal {
	background-color: #10A8A6;
}

.color-purple {
	background-color: #542681;
}

.color-light-purple {
	background-color: #8B67A8;
}

.copy {
	margin: 0 10%;
}

.copy li {
	margin: 18px 0;
}

#references {
	color:white;
}

.refs li{
	list-style: none;
}

#contact-form {
	background-color: lightgray;
	padding: 20px 0;
	margin-top: 20px;
}

.contact-box {
	width: 80%;
}


.slider-container{
  height: 550px;
  width: 1000px;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }
}


input {
	width: 100%;
	margin-top: 20px;
}

input:focus {
	border: 2px solid #999999;
}

input:hover {
	border: 2px solid #999999;
}

@media screen and (max-width: 420px) {
	.hamburger {
		font-size: 25px;
	}

	nav a {
		font-size: .85rem;
	}

	.button-container {
		height: auto;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	h1 {
		font-size: 1.5em;
	}
}